.input {
    border-radius: var(--border-radius);
    outline: none;
    border: var(--border);
    padding: var(--spacing) calc(var(--spacing) * 2);
    font-size: 1em;
}

.input:hover {
    border-color: var(--hover);
}

.input:focus {
    border-color: var(--active);
}
