.button {
    background: none;
    outline: none;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    cursor: pointer;
    color: var(--secondary-font);
    font-size: 0.8em;
    font-weight: 600;
}

.button:hover {
    border-color: var(--hover);
    color: var(--hover);
    border-width: 2px;
    padding: calc(var(--spacing) * 2 - 1px) calc(var(--spacing) * 4 - 1px);
}
