.App {
  display: flex;
  flex-direction: column;
  margin: calc(var(--spacing) * 2);
}

@media screen and (min-width: 480px) {
  .App {
    margin: calc(var(--spacing) * 2) auto;
    width: 600px;
  }
}
